@import '_vars';
@import 'modules/_mediaqueries';

.hidden{
  display:none;
}
body {
    font-family: Helvetica, Arial, sans-serif;
}

.content {
    margin: 0;
    max-width: 100vw;
    background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(246,243,248,1) 100%);
}

.box {
  
    margin-left: 0;
    margin-right:0;
    margin-top:10px;
    margin-bottom:10px;
    width:100%;


}

nav ul { list-style: none; display: inline-block }
.bar{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color:$barwhite !important;
}
#mainHeader
{
background-color:$barwhite;
z-index: 9999;

}

.bg{
  background-color:$barwhite;

}

hr{
  border:0;
  height:16px;
  background:url(../images/hrr.png);
  margin: 0 auto;
}

a
{
text-decoration: none;
color: $red;
transition: color 0.3s ease;
}

a:hover
{
color: $red;
font-weight: 600;
}


#menuToggle
{
display: block;
position: fixed;
top: 50px;
z-index: 1;
-webkit-user-select: none;
}

#menuToggle input
{
display: block;
width: 40px;
height: 32px;
position: absolute;
top: -7px;
left: 95vw;
cursor: pointer;
opacity: 0; 
z-index: 2; 
-webkit-touch-callout: none;
}

/*
 * hamburger
 */
#menuToggle span
{
display: block;
width: 33px;
height: 4px;
margin-bottom: 5px;
position: relative;
left: 95vw;
background: $red;
border-radius: 3px;
z-index: 1;
transform-origin: 4px 0px;
transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
opacity 0.55s ease;
}

#menuToggle span:first-child
{
transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
transform-origin: 0% 100%;
}


#menuToggle input:checked ~ span
{
opacity: 1;
transform: rotate(45deg) translate(-2px, -1px);
background: $red;
}


#menuToggle input:checked ~ span:nth-last-child(3)
{
opacity: 0;
transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
position: absolute;
width: 100vw;
height: 100vh;
margin: -100px 0 0 -50px;
padding: 50px;
padding-top: 125px;
text-align:center;
background-color:$barwhite;
list-style-type: none;
-webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

transform-origin: 0% 0%;
transform: translate(0, -100%);
transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
  
}


#menuToggle input:checked ~ ul
{
  transform: none;
}

.logo
{
    max-width: 80px;
    margin-left: auto;
    margin-right: auto;
    border-radius:50%;
}







